.layout {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1366px;
	padding: 1em;
}

header {
	display: flex;
	margin-bottom: 1em;
}

header .filters {
	display: flex;
	align-items: center;
	margin-left: auto;
}

h3 {
	margin: 0;
}

.clickable {
	cursor: pointer;
	color: cornflowerblue;
	text-decoration: underline;
}

.filter {
	cursor: pointer;
	padding-left: 1em;
	text-align: start;
	color: cornflowerblue;
}

.sort-up::after {
	padding: 0 0 2px 10px;
	font-size: 10px;
	content: "▼"
}

.sort-down::after {
	padding: 0 0 2px 10px;
	font-size: 10px;
	content: "▲"
}

.transaction-green {
	color: seagreen;
}

.transaction-red {
	color: tomato;
}

.drop-btn {
	cursor: pointer;

	border-width: 0;
	font-size: 1em;
	padding: 5px 10px;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	width: 120px;

	background-color: #2ecc71;
	color: #ecf0f1;

	transition: background-color .3s;
}

.drop-btn:hover, .drop-btn:focus {
	background-color: #27ae60;
}