.layout {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1366px;
}

table {
	border-collapse: collapse;
}

thead {
	line-height: 2;
}

caption {
	margin-bottom: 1em;
}

td {
	padding-left: 1em;
	align-items: baseline;
	width: 200px;
	height: 40px;
}

.clickable {
	cursor: pointer;
	color: cornflowerblue;
	text-decoration: underline;
}

tr .header {
	cursor: pointer;
	padding-left: 1em;
	text-align: start;
}

.content tr:nth-child(odd) {
	background-color: #e2e2e2;
}

.checked {
	background-color: pink !important;
}

th.sorted[data-order="-1"]::after {
	padding: 0 0 2px 10px;
	font-size: 10px;
	content: "▼"
}

th.sorted[data-order="1"]::after {
	padding: 0 0 2px 10px;
	font-size: 10px;
	content: "▲"
}

td .transaction-green {
	color: seagreen;
}

td .transaction-red {
	color: tomato;
}

.drop-btn {
	cursor: pointer;

	border-width: 0;
	font-size: 1em;
	padding: 5px 10px;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	margin-top: 1em;
	width: 120px;

	background-color: #2ecc71;
	color: #ecf0f1;

	transition: background-color .3s;
}

.drop-btn:hover, .drop-btn:focus {
	background-color: #27ae60;
}